html {
  overflow: hidden;
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow: auto;
}

p, h1, h2, h3, h4, h5, h6, h7, h8 {
  margin: 0;
  padding: 0;
}

.parallax-wrapper {
  background-image: url("https://media.discordapp.net/attachments/557015926705356800/865072329968189480/image5.png");
  padding: 100px;
  height: 250px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  height: 150px;
  margin: 0px;
  padding: 0px;
  background-color: #f7bfbc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar-link {
  padding: 0px 20px;
}
.navbar .navbar-link img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}
.navbar .navbar-link a {
  text-decoration: none;
  color: #fef2f2;
}

.discord-invite {
  position: absolute;
  top: 10px;
  right: 10px;
}
.discord-invite a {
  text-decoration: none;
}
.discord-invite a button {
  font-family: discord, sans-serif;
  padding: 13px;
  border: none;
  border-radius: 20px;
  color: white;
  background-color: #7289da;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
@font-face {
  .discord-invite a button {
    font-family: discord;
    src: url("https://www.myfonts.com/fonts/font-fabric/uni-sans/");
  }
}
.discord-invite a button i {
  font-size: 20px;
  padding-right: 5px;
}

.page-wrapper {
  height: 100%;
  width: 100vw;
}
.page-wrapper .page-content-wrapper {
  background-color: #ddbdcf;
}
.page-wrapper .page-content-wrapper p {
  padding: 0px 40px;
  margin: 0px;
  font-size: 20px;
  padding-bottom: 15px;
  color: black;
}
.page-wrapper .page-content-wrapper p .heading {
  font-size: 30px;
  font-weight: 900;
}
.page-wrapper .page-content-wrapper h1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
  color: #fef2f2;
}

.footer {
  height: 200px;
  width: 100%;
  background-color: #f7bfbc;
}
.footer .logo {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 10px;
}
.footer .logo img {
  border-radius: 50%;
  height: 75px;
  width: 75px;
}
.footer a {
  text-decoration: none;
  color: #fef2f2;
}
.footer .nav-link {
  display: flex;
  justify-content: center;
}
.footer .nav-link .footer-link {
  padding: 0px 20px;
}
.footer .hooks {
  display: flex;
  justify-content: center;
}
.footer .hooks .web-hook {
  padding: 0px 25px;
  padding-top: 25px;
  color: #fef2f2;
  font-size: 2rem;
}

.gallery-content-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 42px;
  background-color: #ddbdcf;
}

.image {
  width: 100%;
  height: 100%;
}

.commands-content-wrapper {
  padding: 30px;
  background-color: #ddbdcf;
}

@media (max-width: 615px) {
  .page-wrapper .navbar {
    flex-direction: column;
    height: 250px;
  }
  .page-wrapper .navbar .navbar-link {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .page-wrapper .page-content-wrapper p {
    padding: 10px;
  }
  .page-wrapper .footer {
    height: 300px;
  }
  .page-wrapper .footer .nav-link {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .page-wrapper .footer .nav-link .footer-link {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .gallery-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px;
    background-color: #ddbdcf;
  }

  .image {
    width: 100%;
    height: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
