@media (max-width: 615px) {
  .page-wrapper {
    .navbar {
      flex-direction: column;
      height: 250px;

      .navbar-link {
        margin-top: 5px;
        margin-bottom: 5px;
      }
    }

    .page-content-wrapper {
      p {
        padding: 10px;
      }
    }

    .footer {
      height: 300px;

      .nav-link {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        .footer-link {
          margin-top: 5px;
          margin-bottom: 5px;
        }
      }
    }
  }

  .gallery-content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    padding: 24px;
    background-color: $fourth;
  }

  .image {
    width: 100%;
    height: 100%;
  }
}
